<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docopt.net" version="0.6.1.10" targetFramework="net40" />
  <package id="ILMerge" version="3.0.21" targetFramework="net40" />
  <package id="NLog" version="4.5.11" targetFramework="net40" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net40" />
</packages>