<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="File" name="txtfile" fileName="welm.${cached:cached=true:inner=${date:format=yyyyMMddHHmmss}}_${lowercase:${level}}.txt"
          layout="${uppercase:${level}} ${logger} ${message}" deleteOldFileOnStartup="false" /> 
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="txtfile" />
  </rules>
</nlog>
